body {
    min-width: 1440px;
    min-height: 1440px;
    margin: 0;
    font-family: serif;
    color: #454C50;
    background-color: #D7E6EF;
}

.edit-area {
    width: 900px;
    margin: 0 auto;
    background-color: #c2d0d8;
    text-align: center;
}

table {
    margin: 0 auto;
}
